# Elections Results at a County Level

- This data is from another project that I used to tell if a county was historical Democratic or Republican. 
- The goal of this notebook was to tell who won each election at a county level. I am going to use this to classifily counties to be able to graph them and be able to compare different regerstration numbers across different voting results.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./Data/county_vote_history.csv")

In [3]:
df.head()

,county,dem_gov_2014_%,rep_gov_2014_%,dem_house_2012_%,rep_house_2012_%,dem_house_2014_%,rep_house_2014_%,dem_house_2016_%,rep_house_2016_%,dem_pres_2012_%,rep_pres_2012_%,dem_pres_2016_%,rep_pres_2016_%,dem_senate_2014_%,rep_senate_2014_%,dem_senate_2016_%,rep_senate_2016_%
0,Adams,0.501126,0.444168,0.526886,0.401861,0.511630,0.470264,0.514574,0.426280,0.571123,0.402724,0.498552,0.413482,0.476951,0.448761,0.526509,0.412360
1,Alamosa,0.509386,0.433133,0.486207,0.458622,0.425093,0.515413,0.495194,0.462774,0.567535,0.402829,0.459576,0.438968,0.474155,0.456665,0.529977,0.415089
2,Arapahoe,0.520078,0.439368,0.485311,0.450000,0.455291,0.490463,0.457761,0.478489,0.539042,0.439863,0.527590,0.386252,0.480201,0.464848,0.540040,0.409837
3,Archuleta,0.394250,0.555210,0.339208,0.595602,0.297932,0.634433,0.356941,0.597823,0.397832,0.574993,0.340646,0.581006,0.372272,0.569045,0.379206,0.561500
4,Baca,0.217578,0.725616,0.247859,0.698237,0.178631,0.754591,0.142857,0.815436,0.221747,0.740266,0.131444,0.814213,0.189887,0.739107,0.269878,0.687091

Testing for loops for the functions below.

In [4]:
gov_2014_c = []
for i in range(len(df)):
    if df["dem_gov_2014_%"][i] > df["rep_gov_2014_%"][i]:
        gov_2014_c.append("DEM")
    elif df["rep_gov_2014_%"][i] > df["dem_gov_2014_%"][i]:
        gov_2014_c.append("REP")

In [5]:
df["gov_2014_county_res"] = gov_2014_c

In [6]:
elections = ["gov_2014", "house_2012", "house_2014", "house_2016", "pres_2012", "pred_2016", "senate_2014", "senate_2016"]
for elec in elections:
    dem = "dem_"+elec+"_%"
    rep = "rep_"+elec+"_%"
    print(dem, rep)

dem_gov_2014_% rep_gov_2014_%
dem_house_2012_% rep_house_2012_%
dem_house_2014_% rep_house_2014_%
dem_house_2016_% rep_house_2016_%
dem_pres_2012_% rep_pres_2012_%
dem_pred_2016_% rep_pred_2016_%
dem_senate_2014_% rep_senate_2014_%
dem_senate_2016_% rep_senate_2016_%

Function to determine who won the election at a county level.

In [7]:
def county_results(file): #"./Data/county_vote_history.csv"
    df = pd.read_csv(file)
    county_results = pd.DataFrame()
    county_results["County"] = df["county"]
    elections = ["gov_2014", "house_2012", "house_2014", "house_2016", "pres_2012", "pres_2016",
                 "senate_2014", "senate_2016"]
    for elec in elections:
        dem = "dem_"+elec+"_%"
        rep = "rep_"+elec+"_%"
        election_c = []
        for i in range(len(df)):
            if df[dem][i] > df[rep][i]:
                election_c.append("DEM")
            elif df[rep][i] > df[dem][i]:
                election_c.append("REP")
        county_results[elec+"_county_results"] = election_c
    return county_results

In [8]:
county_res = county_results("./Data/county_vote_history.csv")

In [9]:
county_res.head()

,County,gov_2014_county_results,house_2012_county_results,house_2014_county_results,house_2016_county_results,pres_2012_county_results,pres_2016_county_results,senate_2014_county_results,senate_2016_county_results
0,Adams,DEM,DEM,DEM,DEM,DEM,DEM,DEM,DEM
1,Alamosa,DEM,DEM,REP,DEM,DEM,DEM,DEM,DEM
2,Arapahoe,DEM,DEM,REP,REP,DEM,DEM,DEM,DEM
3,Archuleta,REP,REP,REP,REP,REP,REP,REP,REP
4,Baca,REP,REP,REP,REP,REP,REP,REP,REP

In [10]:
# adding actualy results of each election
county_res["gov_2014_actual_results"] = "DEM"
county_res["pres_2012_actual_results"] = "DEM"
county_res["pres_2016_actual_results"] = "REP"
county_res["senate_2014_actual_results"] = "REP"
county_res["senate_2016_actual_results"] = "DEM"
county_res.head()

,County,gov_2014_county_results,house_2012_county_results,house_2014_county_results,house_2016_county_results,pres_2012_county_results,pres_2016_county_results,senate_2014_county_results,senate_2016_county_results,gov_2014_actual_results,pres_2012_actual_results,pres_2016_actual_results,senate_2014_actual_results,senate_2016_actual_results
0,Adams,DEM,DEM,DEM,DEM,DEM,DEM,DEM,DEM,DEM,DEM,REP,REP,DEM
1,Alamosa,DEM,DEM,REP,DEM,DEM,DEM,DEM,DEM,DEM,DEM,REP,REP,DEM
2,Arapahoe,DEM,DEM,REP,REP,DEM,DEM,DEM,DEM,DEM,DEM,REP,REP,DEM
3,Archuleta,REP,REP,REP,REP,REP,REP,REP,REP,DEM,DEM,REP,REP,DEM
4,Baca,REP,REP,REP,REP,REP,REP,REP,REP,DEM,DEM,REP,REP,DEM

In [11]:
# adding a columns to tell if the county voted the same way as actual result. 
elections = ["gov_2014", "pres_2012", "pres_2016", "senate_2014", "senate_2016"] 
            # "house_2012", "house_2014", "house_2016",
for elec in elections:
    election_label = []
    for i in range(len(county_res)):
        if county_res[elec+"_county_results"][i] == county_res[elec+"_actual_results"][i]:
            election_label.append(0)
        elif county_res[elec+"_county_results"][i] != county_res[elec+"_actual_results"][i]:
            election_label.append(1)
    county_res[elec+"_sim_label"] = election_label

In [12]:
county_res.columns

Index(['County', 'gov_2014_county_results', 'house_2012_county_results',
       'house_2014_county_results', 'house_2016_county_results',
       'pres_2012_county_results', 'pres_2016_county_results',
       'senate_2014_county_results', 'senate_2016_county_results',
       'gov_2014_actual_results', 'pres_2012_actual_results',
       'pres_2016_actual_results', 'senate_2014_actual_results',
       'senate_2016_actual_results', 'gov_2014_sim_label',
       'pres_2012_sim_label', 'pres_2016_sim_label', 'senate_2014_sim_label',
       'senate_2016_sim_label'],
      dtype='object')

In [13]:
# Only getting the columns I need for the next section. 
county_res = county_res[['County','gov_2014_sim_label','pres_2012_sim_label', 'pres_2016_sim_label', 'senate_2014_sim_label',
       'senate_2016_sim_label']]

In [14]:
county_res.head()

,County,gov_2014_sim_label,pres_2012_sim_label,pres_2016_sim_label,senate_2014_sim_label,senate_2016_sim_label
0,Adams,0,0,1,1,0
1,Alamosa,0,0,1,1,0
2,Arapahoe,0,0,1,1,0
3,Archuleta,1,1,0,0,1
4,Baca,1,1,0,0,1

# Combining With Registration Changes
- I will be combining this with registration changes CSV that I made in another notebook named Change from Previous Month.

In [15]:
reg_totals = pd.read_csv("./Data/registration_totals_and_changes.csv")

In [16]:
reg_totals.columns

Index(['Date', 'County', 'Active Dem', 'Active Rep', 'Active Uaf',
       'Total Active', 'Inactive Dem', 'Inactive Rep', 'Inactive Uaf',
       'Total Inactive', 'Grand Total', 'Year', 'Month', 'Label',
       'Active Dem_change', 'Active Rep_change', 'Active Uaf_change',
       'Total Active_change', 'Inactive Dem_change', 'Inactive Rep_change',
       'Inactive Uaf_change', 'Total Inactive_change', 'Grand Total_change'],
      dtype='object')

In [17]:
reg_totals = reg_totals[['Date', 'County','Year', 'Month', 'Label','Active Dem_change', 'Active Rep_change', 'Active Uaf_change',
       'Total Active_change', 'Inactive Dem_change', 'Inactive Rep_change',
       'Inactive Uaf_change', 'Total Inactive_change', 'Grand Total_change']]

In [18]:
county_totals = reg_totals[reg_totals["County"] == "Denver"]

In [19]:
county_totals.head()

,Date,County,Year,Month,Label,Active Dem_change,Active Rep_change,Active Uaf_change,Total Active_change,Inactive Dem_change,Inactive Rep_change,Inactive Uaf_change,Total Inactive_change,Grand Total_change
62,2012-11-28,Denver,2012,nov,DEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,2012-12-28,Denver,2012,dec,DEM,-0.046399,-0.046658,-0.091390,-0.061503,0.128224,0.101981,0.169401,0.141628,0.000415
190,2013-01-28,Denver,2013,jan,DEM,0.005689,0.007248,0.013352,0.008430,-0.254047,-0.198090,-0.181194,-0.212957,-0.068577
202,2013-02-28,Denver,2013,feb,DEM,0.002804,0.003038,0.007734,0.004448,-0.009765,-0.011675,-0.009485,-0.009947,0.000217
287,2013-03-28,Denver,2013,mar,DEM,0.001542,0.002423,0.006509,0.003310,-0.008533,-0.006469,-0.006362,-0.007200,0.000252

In [20]:
year_2012_b = county_totals[county_totals["Year"] == 2012]

In [21]:
year_2012 = county_totals[county_totals["Year"] == 2013]
year_2012_e = year_2012[(year_2012["Month"] != "nov") & (year_2012["Month"] != "dec")]

In [22]:
pd.concat([year_2012_b,year_2012_e])

,Date,County,Year,Month,Label,Active Dem_change,Active Rep_change,Active Uaf_change,Total Active_change,Inactive Dem_change,Inactive Rep_change,Inactive Uaf_change,Total Inactive_change,Grand Total_change
62,2012-11-28,Denver,2012,nov,DEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,2012-12-28,Denver,2012,dec,DEM,-0.046399,-0.046658,-0.091390,-0.061503,0.128224,0.101981,0.169401,0.141628,0.000415
190,2013-01-28,Denver,2013,jan,DEM,0.005689,0.007248,0.013352,0.008430,-0.254047,-0.198090,-0.181194,-0.212957,-0.068577
202,2013-02-28,Denver,2013,feb,DEM,0.002804,0.003038,0.007734,0.004448,-0.009765,-0.011675,-0.009485,-0.009947,0.000217
287,2013-03-28,Denver,2013,mar,DEM,0.001542,0.002423,0.006509,0.003310,-0.008533,-0.006469,-0.006362,-0.007200,0.000252
368,2013-04-28,Denver,2013,apr,DEM,0.002245,0.002776,0.007322,0.003997,-0.004811,-0.004341,-0.004785,-0.004723,0.001479
397,2013-05-28,Denver,2013,may,DEM,0.001824,0.002655,0.007372,0.003786,-0.004650,-0.003696,-0.003987,-0.004190,0.001497
464,2013-06-28,Denver,2013,june,DEM,0.003263,0.002686,0.008956,0.005047,-0.003996,-0.002806,-0.003465,-0.003558,0.002591
527,2013-07-28,Denver,2013,july,DEM,0.083315,0.080210,0.157184,0.107281,-0.278578,-0.202900,-0.275314,-0.264760,0.001770
586,2013-08-28,Denver,2013,aug,DEM,-0.000686,-0.002133,0.004489,0.000874,0.012891,0.015438,0.010504,0.012258,0.003244
655,2013-09-28,Denver,2013,sept,DEM,0.004467,0.000921,0.013206,0.006938,-0.043473,-0.030760,-0.039115,-0.039251,-0.002762
737,2013-10-28,Denver,2013,oct,DEM,-0.003400,-0.006146,0.001213,-0.002222,0.002944,-0.001459,0.002159,0.001802,-0.001408

In [23]:
reg_totals["County"].unique()

array(['Yuma', 'La Plata', 'Lake', 'Larimer', 'Las Animas', 'Lincoln',
       'Logan', 'Mesa', 'Mineral', 'Moffat', 'Montezuma', 'Montrose',
       'Morgan', 'Otero', 'Park', 'Phillips', 'Pitkin', 'Prowers',
       'Pueblo', 'Rio Blanco', 'Rio Grande', 'Routt', 'Saguache',
       'San Juan', 'San Miguel', 'Sedgwick', 'Summit', 'Teller',
       'Washington', 'Weld', 'Kit Carson', 'Kiowa', 'Ouray', 'Jackson',
       'Jefferson', 'Adams', 'Alamosa', 'Arapahoe', 'Archuleta', 'Baca',
       'Bent', 'Boulder', 'Broomfield', 'Cheyenne', 'Clear Creek',
       'Conejos', 'Costilla', 'Crowley', 'Custer', 'Chaffee', 'Huerfano',
       'Delta', 'Hinsdale', 'Gunnison', 'Grand', 'Gilpin', 'Fremont',
       'Garfield', 'El Paso', 'Eagle', 'Douglas', 'Dolores', 'Denver',
       'Elbert'], dtype=object)

Functions to take the year after each even year election

In [24]:
def election_label_2012(df): # reg_totals
    counties = df["County"].unique()
    year_2012 = pd.DataFrame(columns=df.columns)
    for count in counties:
        county_totals = df[df["County"] == count]
        county_2012_b = county_totals[county_totals["Year"] == 2012]
        county_2012_e = county_totals[county_totals["Year"] == 2013]
        county_2012_e = county_2012_e[(county_2012_e["Month"] != "nov") & (county_2012_e["Month"] != "dec")]
        county_2012 = pd.concat([county_2012_b,county_2012_e])
        year_2012 = pd.concat([year_2012,county_2012])
    
    return year_2012

In [25]:
year_2012 = election_label_2012(reg_totals)

In [26]:
label_2012 = county_res[["County", "pres_2012_sim_label"]]

In [27]:
#Adding names instead of a binary label
label_2012["pres_2012_sim_label"] = label_2012["pres_2012_sim_label"].map({0:"Barack Obama", 1:"Mitt Romney"})

/Users/chrisjohnson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
year_2012_label = pd.merge(year_2012,label_2012, how="left", on="County")

In [30]:
#year_2012_label.to_csv("year_2012_label.csv", index=False)

In [31]:
def election_label_2014(df): # reg_totals
    counties = df["County"].unique()
    year_2014 = pd.DataFrame(columns=df.columns)
    for count in counties:
        county_totals = df[df["County"] == count]
        county_2014_b = county_totals[county_totals["Year"] == 2014]
        county_2014_b = county_2014_b[(county_2014_b["Month"] == "nov") | (county_2014_b["Month"] == "dec")]
        county_2014_e = county_totals[county_totals["Year"] == 2015]
        county_2014_e = county_2014_e[(county_2014_e["Month"] != "nov") & (county_2014_e["Month"] != "dec")]
        county_2014 = pd.concat([county_2014_b,county_2014_e])
        year_2014 = pd.concat([year_2014,county_2014])
    
    return year_2014

In [32]:
year_2014 = election_label_2014(reg_totals)

In [33]:
label_2014 = county_res[["County", "gov_2014_sim_label"]]

In [35]:
#Adding names instead of a binary label
label_2014["gov_2014_sim_label"] = label_2014["gov_2014_sim_label"].map({0:"John Hickenlooper",1:"Bob Beauprez"})

/Users/chrisjohnson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
year_2014_label = pd.merge(year_2014,label_2014, how="left", on="County")

In [38]:
#year_2014_label.to_csv("year_2014_label.csv", index=False)

In [39]:
def election_label_2016(df): # reg_totals
    counties = df["County"].unique()
    year_2016 = pd.DataFrame(columns=df.columns)
    for count in counties:
        county_totals = df[df["County"] == count]
        county_2016_b = county_totals[county_totals["Year"] == 2016]
        county_2016_b = county_2016_b[(county_2016_b["Month"] == "nov") | (county_2016_b["Month"] == "dec")]
        county_2016_e = county_totals[county_totals["Year"] == 2017]
        county_2016 = pd.concat([county_2016_b,county_2016_e])
        year_2016 = pd.concat([year_2016,county_2016])
    
    return year_2016

In [40]:
year_2016 = election_label_2016(reg_totals)

In [41]:
label_2016 = county_res[["County", "pres_2016_sim_label"]]

In [43]:
#Adding names instead of a binary label
label_2016["pres_2016_sim_label"] = label_2016["pres_2016_sim_label"].map({0:"Donald Trump",1:"Hillary Clinton"})

/Users/chrisjohnson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
year_2016_label = pd.merge(year_2016,label_2016, how="left", on="County")

In [45]:
#year_2016_label.to_csv("year_2016_label.csv", index=False)